@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .shadowMy {
    box-shadow: 9px 9px 0px -1px rgba(222,180,180,0.75);
    -webkit-box-shadow: 9px 9px 0px -1px rgba(222,180,180,0.75);
    -moz-box-shadow: 9px 9px 0px -1px rgba(222,180,180,0.75);
  }
  .full {
    margin-bottom: 20px;
  }
}
html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
